
.container {
  margin: 0 auto;
}
.custom-carousel {
  .p-carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    img {
      border-radius: 10px;
      max-width: 100%;
      height: auto;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
    }

    img:hover {
      transform: scale(1.05);
    }

    .desc {
      margin-top: 10px;
      text-align: center;
    }
  }

  .p-carousel-indicator {
    background-color: #007bff;
  }

  .p-carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
  .tag {
    cursor: pointer;
  }
}
